 {% extends "basenonav.htm" %} {% block page_content%}
<div class="container">

    <h3>合同基本信息</h3>

    <form class="form form-horizontal" method="POST" role="form">
        {{form.hidden_tag()}}
        <div class="panel">
            <div class="panel-body">
                <div class="form-group required">
                    {{form.contract_number.label(class="col-sm-2 control-label")}}

                    <div class="col-sm-3">
                        {{form.contract_number(class="form-control",required="True",type="text")}}
                    </div>
                </div>

                <div class="form-group">
                    {{form.department.label(class="col-sm-2 control-label")}}
                    <div class="col-sm-3">
                        {{form.department(class="form-control",require="true")}}
                    </div>
                </div>

                <div class="form-group">
                    {{form.custom.label(class="col-sm-2 control-label")}}
                    <div class="col-sm-8">
                        {{form.custom(class="form-control" ,required="true")}}
                    </div>
                </div>

                <div class="form-group  required">
                    {{form.project_name.label(class="col-sm-2 control-label")}}
                    <div class="col-sm-8">
                        {{form.project_name(class="form-control", required="true",type="text")}}
                    </div>
                </div>


                <div class="form-group  required">
                    {{form.contract_date.label(class="col-sm-2 control-label")}}

                    <div class="col-sm-3">
                        {{form.contract_date(class="form-control",required=True,type= "date")}}
                    </div>

                    {{form.contract_price.label(class="col-sm-2 control-label")}}

                    <div class="col-sm-3">
                        {{form.contract_price(class="form-control",required=True,type="number")}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group  required">
            <div align="center">
                {{form.submit(class="btn btn-primary")}} </div>
        </div>
</div>
</form>


</div>
{%endblock%}