{%extends "base.html" %}




<!--/div-->
{% block page_content%}

<div class="panel">
    <div class="panel-heading">
        <button class="btn btn-warning" type="button">
           未完成 <span class="badge">{{tasksum.process}}</span>
          </button>

        <button class="btn btn-success" type="button">
               已完成 <span class="badge">{{tasksum.complete}}</span>
              </button>

        <button class="btn btn-primary" type="button">
            全部 <span class="badge">{{tasksum.all}}</span>
            </button>
    </div>
    <div class="panel">
        <div class="panel-body">

            {%for t in task%}
            <div class="form-group">{{t.task_name}}
                <div class="progress">
                    <div {%if t.task_process==100 %} class="progress-bar progress-bar-success" {%else%} class="progress-bar progress-bar-info" {%endif%} role="progressbar" aria-valuenow="{{t.process}}" aria-valuemin="0" aria-valuemax="100" style="width: {{t.task_process}}%;">
                        {{t.task_process}}%
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {%endblock%}